.o_almacen_main{
  /*padding-right: 10px;*/
}

.o_producto_card{
  margin-bottom: 4px;
  position: relative;
  display: block;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-bottom-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  display: block;
  border-radius: 4px;
}

.o_alerta_color_9{ /*rojo*/
  background-color: #F81E1E;
  height: 3px;
  opacity: 0.7;
}

.o_alerta_color_8{ /*verde*/
	background-color: #4FDB66;
  height: 3px;

}

.oe_producto_header_verde{
  background: #4FDB66 !important;
  height: 2px;
  margin: 0px !important;
  width: 96%;
  box-shadow: none !important; 

  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  
  border-top-color: #4FDB66 !important;
  border-right-color: #4FDB66 !important;
  border-bottom-color: #4FDB66 !important;
  border-left-color: #4FDB66 !important;

  background-image: none !important;
}

.oe_producto_header_rojo{
  background: #F81E1E !important;
  height: 2px;
  margin: 0px !important;
  width: 96%;
  box-shadow: none !important; 

  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  
  border-top-color: #F81E1E !important;
  border-right-color: #F81E1E !important;
  border-bottom-color: #F81E1E !important;
  border-left-color: #F81E1E !important;

  background-image: none !important;
}


